html {
	scroll-behavior: smooth;
}

body{
	background-color: #89b0ae;
}

#skills{
	background-color: #e9ecef;
}

.bgnav{
	background-color: #8C8889 !important;
}


#portfolio{
	background-color: #e9ecef;
}

#projtwo{
	background-color: #89b0ae;
}


#projthree{
	background-color: #89b0ae;
}

#menu {

	position:fixed;
	top:0px;
	width:100%; 
	height:60px; 
	background-color:#DDDDDD;
	color: #FFFFFF;
	z-index:9999;
	display: none;
}

#portfolio{
	width: 100%;
	height: 100%;

}

#contact{
	width: 100%;
	height: 100%;
}

#indexhero{
	/*Avoid horizontal scrollbar*/
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	overflow-x:hidden;
    overflow-y:hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.0-9/110280507_4374663982545574_9143726016042649949_o.jpg?_nc_cat=101&_nc_sid=dd9801&_nc_eui2=AeElZfXvW35s0aAKw10azmNOY5Kp7e64JzFjkqnt7rgnMbBxnuTjWoG29R5aq3ALTNHyU4OYlYELBOXYtF65nRM0&_nc_ohc=wMS5lTWUXI4AX99deLU&_nc_ht=scontent.fmnl5-1.fna&oh=26249b8c296daf31163afa8d07c461ec&oe=5F5AA53F);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}

#indexabt{
	/*Avoid horizontal scrollbar*/
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	overflow-x:hidden;
    overflow-y:hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.0-9/36314285_2266531330025527_2268304544075087872_o.jpg?_nc_cat=109&_nc_sid=05277f&_nc_eui2=AeGBZXaZQKxBh0LCBQaoVmN9VcstxFZ28y5Vyy3EVnbzLieIxsy7HhWmF5HbH5TqzWEdI4h2Da0V8tnos_66cE0s&_nc_ohc=RrsUoAkutVwAX9960uj&_nc_ht=scontent.fmnl5-1.fna&oh=39455dfd184e7f4b1c5275230d2a5f29&oe=5F59030E);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}
#indexskill{
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	overflow-x:hidden;
    overflow-y:hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.0-9/46463470_2550311938314130_3915871006891180032_o.jpg?_nc_cat=109&_nc_sid=05277f&_nc_eui2=AeGuR4quEwSWhh-zxcOsRlAlqcjTYRNaeh6pyNNhE1p6HpL5wEW-VXSCSchOncAladXjq6Drb6FTkWKbi4I1AB0C&_nc_ohc=I6K-M3Pxd3QAX_-MmcT&_nc_ht=scontent.fmnl5-1.fna&oh=2bf9bf76b715cbde0a025fcc4af9797f&oe=5F5AFA70);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#dp {
	border-radius: 50%;
}

.nav{
	margin: 0.5rem;
}

.header {
	text-align: center;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#intro h1, #intro p{
	margin-bottom: 1rem;
	text-align: center;
}

#intro div {
	text-align: center;

}

.home{
	font-family: 'EB Garamond', serif;
}
a {
	color: inherit;

} 

.jjc{
	background-color: gray;
}

.btn-light{
	background-color: none;
}

.img-hover-zoom {
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(0.5);
}

.topnav-right {
  float: right;
}

.btn{
	border-radius: 0;
}

.card-body{
	background-color: #EAC8A4;
}

.footerbg{
	background-color: #00ADDA;
}
.custom-rext-shadow {
    text-shadow: 1px 1px black;
    font-family: 'Roboto', sans-serif;
}

#descme{
	font-family: 'Lato', sans-serif;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#hobbies{
	background-color: white;
}

.card-title{
	color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

.card-text{
	color: gray;
	font-family: 'Roboto', sans-serif;
}

.card-body{
	border: none;
}


